@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

#root {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr 10fr;
  grid-template-areas:
    'nav'
    'filter'
    'main';
  height: 100vh;
  width: 100%;
  max-width: 1024px;
}

/* NAV */

#nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

.nav-text {
  font-size: 0.5rem;
}

.nav-themeswitcher {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}

/* .nav-theme-icon{
    width: 25%;
    overflow: hidden;
} */
.icon-theme {
  height: 10px;
}
.filter {
  width: 100%;
  padding: 0.5em;
  grid-area: filter;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.filter-search {
  display: flex;
  align-items: center;
  width: 90%;
  outline: 1px solid var(--Very-Light-Gray);
  padding: 1em 2em;
  align-self: center;
  gap: 0.5em;
  box-shadow: -3px 0px 17px -7px rgba(0, 0, 0, 0.75);
}
.filter-search input {
  border: none;
  outline: none;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 2px;
}
.filter-select {
  padding: 0 1em;
  border-radius: 5px;
}

.filter-select select {
  padding: 1em 2em;
  font-size: 0.7rem;
}
.country-holder {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  grid-area: main;
  width: 100%;
}
.country-card {
  width: 70%;
  outline: 1px solid var(--Very-Light-Gray);
  box-shadow: -3px 0px 17px -7px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: column nowrap;
}
.image-holder {
  width: 100%;
}
.content-holder {
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}
.p-holder {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}
span {
  font-weight: bold;
}
